

@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');




*{
    box-sizing: border-box;
    font-family: 'work Sans', sans-serif,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
.navbar-brand{
    color: #fff;
    font-family: "Matemasie", sans-serif;

}
.nav-link{
    color: #fff;
}

.contenedor-header{
    background-color: rgb(75, 77, 75);
    position: fixed;
    color: #fff;
    width: 100%;
    top:0;
    left: 0;
    z-index: 99;

}


.navba{
    background-color: #1CB698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
    display: none;
    
}
/* seccion inicio */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8 ), rgba(30,35,38,1)),
    url(/IMG/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;

}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin:auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #1cb698;
    display:block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: "Matemasie", Verdana, Geneva, Tahoma, sans-serif
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-family: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.inicio .contenido-banner a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;

}
.inicio .contenido-banner a:hover{
    background-color: lawngreen;
}
.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
  
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: "Matemasie", sans-serif,system-ui, -apple-system;
    text-align: center;
    padding: 20px 0;
    
}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;


}
.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;

}
.sobremi .fila{
    display: flex;

}
.sobremi .fila .col{
    width: 50px;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: "Matemasie", sans-serif;
    margin-bottom: 25px;
}
.sobremi .fila .col ul li{
    margin:12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1cb698;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #16b698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;

}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;

}
.sobremi .fila .col .contenedor-intereses .interes{
   width: 100px;
   height: 100px;
   background-color: #252a2e ;
   border-radius: 10px;
   margin: 0 15px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transition: .3s;


}
.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: lawngreen;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor:pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;

}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1cb698;
    z-index: -4s;
    transition: 1s;

}
.sobremi button:hover .overlay{
    width: 100%;


}






.portafolio{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
  
}
.portafolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portafolio h2{
    font-size: 48px;
    font-family: "Matemasie", sans-serif,system-ui, -apple-system;
    text-align: center;
    padding: 20px 0;
    
}
.portafolio .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;

}
.card-title{
    font-family: "workSans",sans-serif;
}





.formulario{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
  
}
.formulario .contenido-formulario{
    max-width: 1100px;
    margin: auto;
}
.formulario h2{
    font-size: 48px;
    font-family: "Matemasie", sans-serif,system-ui, -apple-system;
    text-align: center;
    padding: 20px 0;
    
}
.footer{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
  
}

