.rojo{
    background-color: red;
}
.blanco{
    background-color: white;
}
.verde{
    background-color: green;
}
.gris{
    background-color: gray
}
.cafe{
    background-color:brown ;
}
.azul{
    background-color: blue;
}
.violeta{
    background-color: violet;
}
.rosado{
    background-color: pink;
}
.amarillo{
    background-color: gold;
}
.naranjo{
    background-color: orange;
}
.purpura{
    background-color: purple;
}
.turquesa{
    background-color: turquoise;
}
.negro{
    background-color: black;
}
.negro{
    color: white;
}